.errorColor{
    color:red;
    text-align: left!important;
    color: red;
    text-align: left!important;
    float: left;
    padding-bottom: 20px;
    margin-left: 17px;
    padding-top: 5px;
}


.logoText{
    color:white;
    font-size: 22px;
    line-height: 62px;
    margin-left: 58px;
    font-family: '-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
.linkTag{
    margin-left:20px;text-decoration:underline;font-size: 14px;
}

.warning{
	color:red;font-size:20px;text-align:center
}
.error{
	color:red;font-size:20px;text-align:center
}
.success{
	color:green;font-size:20px;text-align:center
}
.activateLinkMsg{
	color:#000000;
	text-align:center

}
